section{
    margin:"50px";
    border:1px solid red

}



.table1 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#topHeader {
    display: flex;
    background-color: black;
    color: white;
    height: 30px;
    flex-grow: 0px;
    overflow: hidden;
}

#topHeader div {
    margin: 0.5% 0% 0% 15%;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
}
#header{
    display: flex;
    height: 80px;
    border-bottom: 1px solid #eaebec;
    margin-bottom: 40px;
    overflow: hidden;
}

.td1 {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.td2{
    width:25%
}
.row ,.row1{
text-align: center;
}
.row1{
    background-color:#e9ecef;
}
.head{
    background-color: #000000;
    color:white;
}

.yellowDiv{
    display:flex;
    height:150px;
    background-color: #ede734;
    justify-content: center;
}
.yellowDiv>button{
    margin-top:20px;
    height: 40%;
    margin-left:20px;
    background-color: #000;
    color: #fff;
}

#imageBox{
    /* border: 1px solid red; */
    width: 400px;
    height: 480px;
    margin-top: -50px;
}
.gfg {
    margin: 3%;
    position: relative;
}

.first-txt {
    position: absolute;
    top: 17px;
    left: 50px;
}

.second-txt {
    position: absolute;
    bottom: 20px;
    left: 10px;
}